.banner-text-container{
  margin-top: 100px;
  text-transform: uppercase;
}
.banner-text >h1 {
  font-size: 102px;
}
.banner-text >h2 {
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 20px;
}
