@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('./Banner.css');
@import url('./NavBar.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
  color:white;
  
}
.header-container{
  background-color: #010313;
  height: 100vh;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}